#in {
    margin-left: 20px;
}

#out {
    margin-left: 5px;
}

table#toron tbody tr td {
    padding-top: 6px;
    padding-bottom: 6px;
}

#redirect {
    margin-top: -20px;
}

#log {
    line-height: 0px;
    width: 20px;
    height: 36px;
    font-size: 16px;
    color: white;
    float: left;
    margin-right: 10px;
    padding: 5px;
    margin-top: 10px;
}

#last {
    margin-top: 30px;
}

a#inside {
    color: green;
}

#cate {
    width: 100%;
    border: 1px solid #777;
    padding: 5px;
    margin-top: 1em;
}

textarea, label, span, body, strong, b, div, h1, h2, h3, h4, h5, h6, h7, input {
    font-family: "나눔바른고딕", "나눔고딕", "맑은 고딕", "NanumBarunGothic", "NanumGothic", "Malgun Gothic", "sans-serif";
}
        
pre {
    font-family: "d2codingfont", "나눔고딕코딩", "NanumGothicCoding", "monospace";
}

.four-fifths.column {
    word-break: break-all;
}

li {
    margin-left: 20px;
    margin-bottom: 2px;
}

#out_link {
    color: green;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;
}

td:hover {
    background: #ddd;
}

iframe, img {
    max-width: 100%;
}

blockquote {
    padding:1em calc(2em + 25px) 1em 1em;
    margin:1em 0em 0em;
    background:#eeeeee;
    display:table;
    border:2px dashed #ccc;
    border-left:5px solid #52A9BD;
    background-image: url('/views/yousoro/img/quote.png');
    background-position:calc(100% - 10px) 10px;
    background-repeat:no-repeat;
    background-size:25px;
}

td {
    padding: 5px 10px;
    border: 1px solid #dddddd;
}

table {
    background-color: #f5f5f5;
}

.title {
    display: inline-block;
    margin-bottom: 30px;
    border-bottom: none;
    padding-bottom: none;
}

#toc {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#toc-name {
    font-size: 18px;
}

s, strike, del {
    color:gray;
}

pre {
    padding: 7px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    border-radius: 3px;
    overflow-x: auto;
    display: block;
    font-size: 90%;
    line-height: 1.5;
    color: #373a3c;
    white-space: pre-wrap;
}

s:hover, strike:hover, del:hover {
    color: #666;
    background-color: #eee;
    text-decoration: none;
}

.menu-item {
    float: left;
    position: relative;
}

.menu {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.one-fifth {
    width: 100%;
}

.input-group {
    width: 250px;
}

#search {
    width: 250px;
    float: right;
    padding: 5px;
    margin-bottom: 0;
}

.one-fifth.column {
    margin-bottom: 20px;
    margin-top: -20px;
    background: #52A9BD;
    z-index: 2;
    position: relative;
}

.btn {
    height: 34px;
}

.scroll-buttons a:link, .scroll-buttons a:visited {
    color: white;
}

div.scroll-buttons a {
    display: inline-block;
    width: 42px;
    height: 42px;
    padding: 5px 8px 9px 8px;
    border: 1px solid #545454;
    border-left: 0;
    text-decoration: none;
    text-align: center;
    background: rgba(26,26,26,0.9);
    border-bottom: 0;
}

#footnote-list {
    margin-bottom: -10px;
    display: block;
}

#footnote {
    margin-bottom: -10px;
}

div.scroll-buttons {
    position: fixed;
    float: right;
    height: 42px;
    text-align: right;
    font-size: 1.7em;
    z-index: 10000;
    margin-bottom: -10px;
    bottom: 10px;
    right: 0px;
    opacity: 0.8;
}

.four-fifths {
    float: none;
    margin: auto;
}

#tool {
    float: right;
}

#logo {
    width: auto;
    height: auto;
    font-size: 25px;
    color: white;
    float: left;
    margin-right: 10px;
    padding: 5px;
}

#powered {
    float: right;
}

#top {
    position: relative;
}

table {
    font-size: 13px;
}

.scroll-buttons .fa {
    margin-top: 5px;
}

@media (max-width: 939px) {
    #search {
        float: right;
    }
}

@media (max-width: 459px) {
    #search {
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }

    .input-group {
        width: 100%;
    }
}

@media (min-width: 1280px) {
    #all_contect {
        width: 1260px;
        margin: auto;
    }
}

.four-fifths.column {
    border: 1px solid #EFEFEF;
    padding: 30px;
    background: white;
}

body {
    background: #EFEFEF;
}

#toron {
    width: 100%;
}

#toron_color_green {
    background-color: #B0D3AD;
}

#toron_color_red {
    background-color: #f3c2c2;
}

#toron_color_blue {
    background: #c1ebff;
}

#toron_color {
    background-color: #d5d5d5;
}

.popup {
    position: fixed;
    padding: 10px;
    background: #f5f5f5;
    width: 100%;
    bottom: 0px;
    left: 0px;
    text-align: center;
    box-shadow: 0 -1px 8px 0 rgba(0,0,0,0.35);
    z-index: 10000;
    max-height: 30%;
    overflow-y: scroll;
}

@media (min-width: 768px) {
    .four-fifths {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .four-fifths {
        width: 100%;
    }

    table {
        min-width: 100%;
    }
}

#out_link::before {
    padding: 0px;
    background: transparent;
    color: green;
    content: "\f14c";
    font-family: FontAwesome;
}

textarea {
    width: 100%;
}

#not_thing {
    color: red;
}

#open {
    background: #B2DFEA;
    text-shadow: none;
}

.menu-item:hover, #open:hover {
    background-color: #ddd;
}

sub, sup {
    line-height: 1.4em;
}

pre span {
    font-family: "d2codingfont", "나눔고딕코딩", "NanumGothicCoding", "monospace";
}

#is_mobile {        
    margin-left: 5px;        
}

#RecentChanges {        
    line-height: 35px;        
    width: auto;
    height: 45px;        
    font-size: 16px;        
    color: white;        
    float: left;        
    padding: 5px;
    margin-right: 5px;        
}
        
@media (max-width: 710px) {        
    #is_mobile {        
        display: none;        
    }
    
    #RecentChanges {
        width: 20px;        
        margin-right: 10px;         
        height: 36px;        
    }        
}

#edit_time {
    float: right;
    margin-top: -5px;
}

input {
    width: 100%;
}

input[type="checkbox"] {
    width: auto;
}

body {
    font-size: 14px;
}

h2#topic_top_title {
    margin-top: -10px;
}

#logo, #RecentChanges, #log {
    text-decoration: none;
}

button {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

button#save {
    color:#fff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.15);
    background-color:#60b044;
    background-image:linear-gradient(#8add6d, #60b044);
    border-color:#5ca941;
    margin-right: 5px;
}

.scroll-toc {
    margin-right: -8px;
}

#left {
    margin-right: -8px;
}

button#come {
    margin-left: 5px;
}